@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');


body{
  background-color: white;
  height: 98vh;
}
.titulo{
    height: 100px;
    font-family: Passion One;
    color:white;
    background-color: black;
    height: 200px;
    text-align: center;
    font-size: 50px;
    
    
}

#autor{
    font-size: 15px;
}

section{
    width: 100%
}
.branco{
    background-color: white;
}

#primeiraimagem{
    background: url(imagens/background001.jpg) no-repeat center center fixed; 
    background-size: cover;
    color: white;
}

.sombra{
    background-color: rgba(0, 0, 0, 0.295)
}
#transparente{
   background: url(imagens/background002.jpg) no-repeat center bottom fixed;
   background-size: cover;
}

p{
    font-family: Sriracha, 'sans-serif';
    font-size: 50px;
    border: 5px;
    text-align: left;
    width: 500px;
    margin-left: 10px;
    
}

footer{
    font-size: 20px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;

}

